body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

.container {
  width: 90%;
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 100px;
}

.container__block {
  border-radius: 5px;
  background-color: blue;
  color: chartreuse;
}

.container:nth-child(odd) {
  background-color: fuchsia;
}

.container::nth-child(even) {
  background-color: firebrick;
  color: lightgreen;
}
